::-webkit-scrollbar{
    width:5px;
    background: none;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(253, 75, 31);
    border-radius:10px 0 0px 10px;
}

*{
    padding: 0;
    margin: 0;
}

.ligth__mode{
    color:black;
    background-color:white;
    
    $dialog-background:linear-gradient( #ffa970 0%, #e67f26 100%);
    $content-color:white; 
    $price-color:rgb(255, 51, 0);

    $background:white;
    $labelCheck-color: url(./img/theme/light.svg);
    
    $card-background: linear-gradient( #ffbb8e 0%, #EB7208 100%);
    $card-background-hover: rgb(255, 175, 129);
    $card-color:white;
    
    $subFooter-background:rgb(15, 12, 19);

    @import "components/dialog";
    @import "components/header";
    @import "components/main";
    @import "components/footer";
}

.dark__mode{
    color:white;
    background-color: black;

    $dialog-background:url(./img/fondo/2.png);
    $content-color:white;
    $price-color:rgb(255, 145, 0);

    $background:black;
    $labelCheck-color: url(./img/theme/dark.svg);

    $card-background: rgb(10, 10, 10);
    $card-background-hover:rgb(5, 5, 5);
    $card-color:rgb(226, 226, 226);

    $subFooter-background:rgb(255, 121, 32);
    
    @import "components/dialog";
    @import "components/header";
    @import "components/main";
    @import "components/footer";
}

.overflow{
    overflow: hidden;
}

.container{
    width: 90%;
    margin: 0 auto;
    background-size: 100%;
    font-size: 16px;
    font-family: Gotham,'MuseoModerno', cursive;
    user-select: none;
}

.banner{
    width: 100%;
    margin-bottom: 5%;

    img{
        display: block;
        width: 100%;
        height: 95%;
        border-radius: 0 0 10px 10px;
    }
}

@import "components/form";