.dialog{
    position: fixed;
    background:$dialog-background;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    z-index: 150;
    
    .dialog__container{
        color:$content-color;
        background:rgb(3, 3, 3);
        width: 80%;
        height: 450px;
        max-height: 450px;
        display: flex;
        border-radius: 5px;

        .container__img{
            width: 63%;
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 5px 0 0 5px;
            }
        }

        .container__inf{
            width: 59%;
            margin: 3% 0 7.6% 6%;
            height: 85%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3{
                font-size: 2vw;
            }

            .price{
                font-size: 1.5vw;
                font-weight: 700;
                color: $price-color;
            }
            
            .description{
                width: 70%;
                font-size: 1.2vw;
            }
            
            .property{
                font-size: 1.3vw;
                margin: 0 0 0 4%;
            }

            .container__buy{
                display: flex;
                width:95%;
                justify-content: space-between;
                // background-color: aqua;
                
                .buy__buttom{
                    // width: 9.2vw;
                    width: auto;
                    background:linear-gradient(#ff4a2a 50%, rgb(255, 52, 37) 100%);
                    font-size: 1.5vw;
                    font-weight: 600;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    
                    &:hover{
                    background:linear-gradient(#ff3f3f 50%, #ff5815 100%);

                    }  

                    .fa-shopping-cart{
                        background:#ffbfaa44 ;
                        padding:.6vw;
                        margin-left: .7vw;
                        border-radius: .8vw;
                    }
                }  

                .buy__arrows{
                    display: flex;
                    justify-content: space-between;
                    width: 23%;

                    .arrow{
                        color: rgb(202, 202, 202);
                        font-size: 2.3vw;
                        cursor: pointer;
                        padding: .5vw .8vw;
                        background-color: red;
                        border-radius: 1vw;
                    }
                }


            }
        }

    }
    
    .exit{
        color:rgb(195, 195, 195);
        font-size: 2.5vw;
        position: fixed;
        top: 0;
        right: 0;
        margin: 2% 3%;
        cursor: pointer;
        
        &:hover{
            color:red;
        }
    }

    @media (max-width:550px){
        display: grid;
        display:none;
        height: 100vh;
        grid-template-rows:1fr 1fr;

        // .fa-arrow-left { 
        // }

        .dialog__container{
            display: grid;
            grid-row: 2;
            width: 100%;
            height: 95vh;
            max-height: none;
            background-color: aqua;
            border-radius:20px;

            .container__img{
                width: 100%;
                
                img{
                    border-radius: 20px 20px 0 0; 
                }
            }

            .container__inf{
                width: 100%;
                height:auto;
                margin: 3% 0 6% 6%;

                h3{
                    font-size: 1.6rem;
                }
                
                .price{
                    font-size: 1.2rem;
                }

                .description{
                    width: 95%;
                    font-size: 1rem;
                }

                .property{
                    font-size: 1.2rem;
                }

                .container__buy{
                    .buy__buttom{
                        font-size: 1.1rem;
                        width: 30%;
                        height: 35px;
                        padding: 5px;
                        border-radius: 5px;
                    }
                }
            }
        }

        // .fa-arrow-right {
        // }

        .exit{
            grid-row:1;
            float: right;
            position: relative;
            font-size:1.5rem;
            padding:2% 3%;
            margin: 0;
            color: rgb(255, 215, 215);
            border-radius: 0 0 0 20px;
            background-color: red;
        }
    }
}
