main {
  width: 100%;
  height: auto;

  .main__principal {
    width: 100%;
    border-radius: 0 0 15px 15px;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .principal__boxText {
      display: flex;
      flex-direction: column;

      .boxText__title {
        font-weight: 700;
        margin: 0% 0% 5% 2%;
        color: rgb(255, 52, 37);
      }

      .boxText__button {
        font-size: 1.1rem;
      }
    }

    .principal__image {
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        min-height: 100%;
      }
    }
  }

  .main__recomend {
    .recomend__text {
      font-weight: 700;
      color: rgb(255, 52, 37);
      text-align: center;
      margin: 5% 0 10% 0;
    }

    .recomend__targ {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;

      .targ__targ {
        width: 180px;
        height: 260px;
        margin: auto;
        color: $card-color;
        background: $card-background;
        font-size: 0.9rem;
        font-weight: 300;
        border-radius: 10px;
        margin-bottom: 15%;
        text-decoration: none;
        cursor: pointer;
        border: 0.06px solid transparent;

        figure {
          width: 100%;
          height: 56%;

          img {
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0 0;
            filter: saturate(1.3);
          }
        }

        &:hover {
          background: $card-background-hover;
          border: 0.06px solid rgb(255, 108, 23);
        }

        .r_targ__price {
          margin-top: 3%;
          padding-left: 2%;
          font-weight: 700;
          font-size: 1.1rem;
        }
        .r_targ__elements {
          margin-top: 3%;
          padding: 2% 0 1% 0;
          font-size: 0.9rem;

          p {
            padding-left: 2%;
          }
        }
        .r_targ__place {
          padding-left: 2%;
          font-weight: 500;
        }
        .r_targ__date {
          padding-left: 2%;
          margin-bottom: 1%;
          font-weight: 500;
        }
      }
    }
  }

  @media (min-width: 200px) {
    .main__principal {
      .principal__boxText {
        width: 100%;

        .boxText__title {
          width: 100%;
          font-size: 10vw;
          text-align: center;
        }
        .boxText__description {
          width: 90%;
          margin: 0 auto;
          font-size: 5.3vw;
          text-align: center;
          line-height: 1.3;
        }

        a{
          text-align: center;
          .boxText__button {
            width: auto;
            height: 5vh;
          }

        }

      }

      .principal__image {
        width: 80%;
        min-height: 0;
        margin: 0 auto;
      }
    }

    .main__recomend {
      .recomend__text {
        font-size: 8.5vw;
      }

      .recomend__targ {
        grid-template-columns: 1fr;
      }
    }
  }
  @media (min-width: 550px) {
    .main__principal {
      margin-top: 2%;

      .principal__boxText {
        width: 100%;

        .boxText__title {
          font-size: 8vw;
        }
        .boxText__description {
          font-size: 4.5vw;
        }

        .boxText__button {
          padding: 0 5%;
        }
      }

      .principal__image {
        width: 70%;
      }
    }

    .main__recomend {
      .recomend__targ {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-items: center;
      }
    }
  }
  @media (min-width: 950px) {
    .main__principal {
      margin-top: 0%;

      .principal__boxText {
        width: 50%;

        .boxText__title {
          width: 75%;
          font-size: 3.5rem;
          text-align: left;
        }

        .boxText__description {
          width: 75%;
          margin-left: 5%;
          font-size: 1.4rem;
          text-align: justify;
        }
        
        a{
          text-align: left;

          .boxText__button {
            width: 35%;
            height: 40px;
            padding: 0;
            margin: 4% 0 0 4%;
          }
        }
      }

      .principal__image {
        width: 350px;
        min-height: 100%;
        margin-right: 3%;
      }
    }

    .main__recomend {
      .recomend__text {
        font-size: 3rem;
      }

      .recomend__targ {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}
